{{#partial "title"}}
  <title>Editar Terminal</title>
{{/partial}}

{{#partial "content"}}
  <h1>
    Editar Terminal
  </h1>
  <h2>
    Complete los datos de la Terminal segun corresponda
  </h2>
  <br>
  <div class="agregar Terminal">
    <form method="post" action= /admin/terminales/editar/{{terminal.id}} >
      <label for="Nombre">Nombre de la terminal:</label>
      <input type="text" class="TextBox" value="{{terminal.descripcion}}"  name="nombreTerminal">
      <br>
      <input type="checkbox" name="almacenar" value="si"> Puede Almacenar<br>
      <input type="checkbox" name="notificar" value="si"> Puede Notificar <br>
      <br>
      <label for="NombreComuna">Comuna:</label>
      <ul>
        {{#comunas}}
        <li><input type="radio" name="comuna" value={{id}}>{{id}}-{{descripcion}}</li>

        {{/comunas}}
      </ul>

      <br>
      <input type="submit" value="Agregar terminal" >
    </form>
    <a id="cancelar" href="/admin/terminales">Volver a Administrar Terminal</a>
  </div>

{{/partial}}

{{> admin/admin_base.hbs}}
